@media screen and (max-width: 900px) {

    header {
        display: flex;
        flex-direction: row;
        padding: 10px;
        align-items: center;
    }

    img {
        width: 115px;
    }

    .menu-responsive {
        display: flex;
        font-size: 25px;
    }

    nav {
        display: none;
    }    
}

@media screen and (max-width: 613px) {

    body {     
        height: 100%;
    }

    .buttons {
        display: flex;
        flex-direction: column;              
    }

    .btn1, .btn2 {
        width: 100%;
        margin-top: 0;
    }    
}